body {
    padding-top: 0px !important;
}
.title-content {
    padding: 30px;
    transition: .2s;
    display: none;    
}
.title-content:hover {
    transform: scale(1.02);
}

canvas { 
    border: 3px solid #eee;
    width: 100%;
    min-height: 800px;
    margin-top: 80px
}

#logo {
    width: 20%;
}
a {
    transition: .2s;
}
a:hover {
    text-decoration: none;
    color: #eee;
}
.hrsection {
    width: 10%;
    height: 10px;
    background-color: #00189d;
    margin: 20px auto;
    transition: 1s;
}
.animationhr {
    width: 100%;
}

footer {
    background-color: #013066;
    min-height: 100px;
    text-align: center;

}
footer .row {
    padding-top: 3.2%;
}
.footer-content {
    color: #fff;
    font-size: 1.2em;
}
.footer-autors {
    color: #fff;
    font-size: 1.2em;
}
.buttonsCanvas {
    text-align: center;
    position: relative;
}
button {
    transition: all 0.2s;
    position: absolute;
    background-color: transparent;
    border: 3px solid #013066;
    padding: 10px 30px;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0,0,0, 0.5)
}
@media (min-width: 903px) {
    .Button_1 {
        left: 5%;
    }
    .Button_2 {
        left: 25%;
    }
    .Button_3 {
        left: 45%;
    }
    .Button_4 {
        left: 65%;
    }
    .Button_5 {
        left: 85%;
    }
}
@media (max-width: 902px) {
    button {
        position: relative;
        margin: 5px;
    }
}
button:hover {
    margin-top: 2px;
    box-shadow: 0px 10px 20px rgba(0,0,0, 0.05)
}
.mouseDown {
    cursor: move;
}
.allowFullscreenContainer {
    text-align: center;
    padding: 30px;
}
.allowFullscreen {
    cursor: pointer;
    transition: 0.2s;
    font-style: italic;
    margin: 0 auto;
}
.allowFullscreen:hover {
    border-bottom: 1px solid #000;
    text-decoration: underline;
}
.header {
    transition: 0.5s;
}
.hide {
    position: absolute;
    top: -1200px;
}